@charset "utf-8";

/* <!-- style.css for coventry-city-council.github.io 16 July 2019 --> */

/* Fonts */

/* Background */

body {
	margin: 0;
	padding: 0;
	color: black;
	background: white;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	transition: all 0.5s ease-in-out;
}

/* Media Queries */

@media (prefers-color-scheme: dark) 
{
	body {
		color: white;
		background: black;
	}

	h1, h2 {
		color: white;
		background: transparent;
		text-decoration: underline;	
	}

	a:link, a:visited {
		color:#5b6475;
	}
}


/* Content */

abbr, acronym {
	border-bottom: gray 1px dotted;
}

a:link, a:visited {
	color: #232832;
	background: transparent;
	text-decoration: underline;	
}

a:active {
	color: #044a90;
	background: transparent;
	text-decoration: underline;	
	transition: all 0.5s ease-in-out;
}

a:focus {
	color: #044a90;
	background: yellow;
	text-decoration: underline;	
	transition: all 0.5s ease-in-out;
}

a:hover {
	color: #2196ff;
	background: transparent;
	text-decoration: underline;	
	transition: all 0.5s ease-in-out;
}

audio {
	width: 100%;
	display: block;
}

article {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


.center {
	text-align: center;
}

h1 {
	font-family: 'Noto Sans', sans-serif;
	font-size: 300%;
	color: black;
	font-weight: 500;
}


h2 {
	font-family: 'Noto Sans', sans-serif;
	font-size: 250%;
	color: black;
	font-weight: 500;
}

h3 {
	font-family: 'Noto Sans', sans-serif;
	color: black;
	font-size: 200%;
	font-weight: 500;
}

h4 {
	font-family: 'Noto Sans', sans-serif;
	color: black;
	font-size: 150%;
	font-weight: 500;
}

.hidden {
	visibility: hidden;
	display: none;
}

iframe {
	border: 0;
	width: 100%;
}

img {
	border: none;
	max-width: 100%;
}

input, textarea {
	width: 480px;
}

.larger {
	font-size: 150%;
}

object {
	border: none;
}

p, a, li, blockquote, label, input {
	font-family: 'Noto Sans', sans-serif;
	font-size: 100%;
	line-height: 1.2em;
}

q:before {
        content: "\201c";
}

q:after {
        content: "\201d";
}

.right {
	clear: right;
}

.section {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 10vw;
}

strong {
	font-weight: 800;
}

.smaller {
	font-size: 85%;
}

ul, ol {
	display: inline-block;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/* <!-- style.css now based on code from sichunlam-com v16 -->	*/