@charset "utf-8";

/* <!-- style.css for coventry-city-council.github.io 22/12/2019 --> */

/* Fonts */

/* Background */

body {
	margin: 0;
	padding: 0;
	color: black;
	background: white;
		background-image: url("/resources/background-light.jpg");
	    background-attachment: fixed;
	    background-position: center bottom;
	    background-size: 100%;
	    background-repeat: no-repeat;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	transition: all 0.5s ease-in-out;
}

/* Media Queries */

@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background: black;
		background-image: url("/resources/background-dark.jpg");
	    background-attachment: fixed;
	    background-position: center bottom;
	    background-size: 100%;
	    background-repeat: no-repeat;
	}
	iframe {
		border: 1px solid white;
		width: 100%;
	}
	a:link, a:visited {
		color: #2196ff !important;
		background: transparent;
		text-decoration: underline;	
	}
}

@media all and (max-width: 639px) {
		body {
			font-size: 12px;
		}
		iframe {
			height: 360px;
		}
	}
	@media all and (max-width: 1024px) and (min-width: 640px) {
		body {
			font-size: 14px;
		}
		iframe {
			height: 600px;
		}
	}
	@media all and (max-width: 1399px) and (min-width: 1024px) {
		body {
			font-size: 16px;
		}
		iframe {
			height: 800px;
		}
	}
	@media all and (max-width: 1800px) and (min-width: 1400px) {
		body {
			font-size: 20px;
		}
		iframe {
			height: 1000px;
		}
	}
	@media all and (min-width: 1821px) {
		body {
			font-size: 22px;
		}
		iframe {
			height: 1080px;
		}
	}

/* Content */

abbr, acronym {
	border-bottom: gray 1px dotted;
}

a:link, a:visited {
	color: #2196ff;
	background: transparent;
	text-decoration: underline;	
}

a:active {
	color: #2196ff;
	background: transparent;
	text-decoration: underline;	
	transition: all 0.5s ease-in-out;
}

a:focus {
	color: #044a90;
	background: yellow;
	text-decoration: underline;	
	transition: all 0.5s ease-in-out;
}

a:hover {
	color: #2196ff;
	background: transparent;
	text-decoration: underline;	
	transition: all 0.5s ease-in-out;
}

audio {
	width: 100%;
	display: block;
}

article {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#content {
	padding: 1em;
}

.center {
	text-align: center;
}

h1 {
	font-size: 300%;
	font-weight: 500;
}


h2 {
	font-size: 250%;
	font-weight: 500;
}

h3 {
	font-size: 200%;
	font-weight: 500;
}

h4 {
	font-size: 150%;
	font-weight: 500;
}

.hidden {
	visibility: hidden;
	display: none;
}

iframe {
	border: 1px solid black;
	width: 100%;
}

img {
	border: none;
	max-width: 100%;
}

input, textarea {
	width: 480px;
}

.larger {
	font-size: 150%;
}

object {
	border: none;
}

p, a, li, blockquote, label, input {
	font-size: 100%;
	line-height: 1.2em;
}

q:before {
        content: "\201c";
}

q:after {
        content: "\201d";
}

.right {
	clear: right;
}

.section {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10vh;
	margin-bottom: 10vw;
}

strong {
	font-weight: 800;
}

.smaller {
	font-size: 85%;
}

ul, ol {
	display: inline-block;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/* <!-- style.css now based on code from sichunlam-com v16 -->	*/