/* CoventryCityCouncil.css by Si Chun Lam SiChun.Lam@coventry.gov.uk v1.4.4 16:23 12/10/2016 */

@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

body
{
	margin: 0px !important;
	padding: 0px !important;
	width: 100% !important;
	height: auto;
	background: white;
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.0em;
	overflow: auto;
}

.gm-style-iw {
	overflow: auto !important;
}

.iaHead {
	font-size: 2.5em;
	color: #006EC7;
}


.dvButton, .pfButton, .newsHolder, .homeLinkHolder {
	display:none !important;
}

.headerBar, .headerText, .headerTopLeft, .headerTopRight, .headerTopLeft, .headerTopRight, .headerTop, .headerLeft, .headerRight, .headerBottom, .headerBottomLeft, .headerBottomRight {
	display: none;
}

a 
{
	padding: 1px 1px 1px 1px;
}

body, div 
{
	font-family: 'Noto Sans', sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

textarea 
{
	font-size: 1.0em;
	padding: 2px 2px 2px 2px;
}

button, input.btn, 
.AspNet-CreateUserWizard input[type="submit"], 
.AspNet-PasswordRecovery input[type="submit"],
.AspNet-ChangePassword input[type="submit"]  
{
	color: #2d67b2;
	font-weight: bold;
	font-size: 0.9em;
	cursor: pointer;
}

button:disabled, input.btn:disabled 
{
	color: #999999;
	font-weight: normal;
	cursor: default;
}

.buttonHolder 
{
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 10px 5px 10px 5px;
	border-top: dotted 1px #2d67b2;
}

.buttonHolder p 
{
	margin: 0px 0px 0px 0px;
}

input.buttonHyperlink
{
	background-color: transparent;
	border-style: none;
	padding-top:0px;
	margin:0px;
	color:#004090;
	cursor: pointer;
	text-align: left;
	text-decoration: underline;
}

.controlPanel, .controlPanel select 
{
	font-size: 0.9em;
}

.controlPanel a 
{
	color: #2d67b2;
	font-weight: bold;
}

.favouritesList li 
{
	margin-bottom: 0.4em;
}

#pageContent 
{
	position: relative;
	margin-top: 1px;
	margin-left: auto;
	margin-right: auto;
	border-right: solid 1px #2d67b2;
	border-left: solid 1px #2d67b2;
	border-bottom: solid 1px #2d67b2;
	border-top: solid 1px #2d67b2;
	width: 98%;
	overflow:hidden;
}

.bcTopLeft, .bcTopRight, .bcTop, .bcLeft, .bcRight, .bcBottom, .bcBottomLeft, .bcBottomRight 
{
	display: none;
}

#iasLogo 
{
	display:none;
}

#preload 
{
	display: none;
}

.breadcrumb, .footerBar, .progressBreadcrumb 
{
	font-size: 0.85em;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
}

.footerBar {
	display: none;
}

.breadcrumb
{
	background-color: #006EC7;
	color: #ffffff;
	padding-top: 3px;
	padding-bottom: 3px;
}

.breadcrumb a 
{
	color: #ffffff;
	text-decoration: none;
}

.breadcrumb a:hover 
{
	text-decoration: underline;
}

.progressBreadcrumb 
{
	background-color: #006EC7;
	color: #ffffff;
	margin: 0px 5px 10px 5px;
}

.noNavigation .navigationBar 
{
	display: none;
}

.navigationBar 
{
	position: relative;
	float: left;
	width: 15%;
	margin-right: 0px;
}

.navigationBar AspNet-TreeView 
{
	margin: 5px 0px 5px 0px;
}

.navigationBar AspNet-TreeView-Root, 
.navigationBar AspNet-TreeView-Leaf, 
.navigationBar AspNet-TreeView-Parent, 
.navigationBar AspNet-TreeView-ParentSelected, 
.navigationBar AspNet-TreeView-Selected 
{
	font-size: 0.9em;
	padding: 2px 2px 2px 2px;
	color: #006EC7;
}

.navigationBar AspNet-TreeView-Root 
{
	/*display: none;*/
}

.navigationBar a 
{
	padding: 2px 2px 2px 2px;
	text-decoration: none;
}

.navigationBar a:hover 
{
	background-color: #006EC7;
	color: #ffffff;
}

.mainContent 
{
	position: relative;
	float: right;
	width: 82%;
	padding: 5px 5px 5px 5px;
	border-left: solid 1px #2d67b2;
	min-height: 40em;
}

h1, h2, h3, h4, h5, .AspNet-CreateUserWizard-StepTitlePanel, .AspNet-PasswordRecovery-UserName-TitlePanel 
{
	color: #2d67b2;
	letter-spacing: 0.1em;
}

h1 
{
	font-size: 1.5em;
}

h2 
{
	font-size: 1.4em;
}

h3 
{
	font-size: 1.3em;
}

h4 
{
	font-size: 1.2em;
}

h5 
{
	font-size: 1.1em;
}

.mainContentFull 
{
	position: relative;
	width: 99%;
	padding: 5px 5px 5px 5px;
}

#spacerBar 
{
	clear: both;
	height: 1px;
}

.themeTreeLeaf, .themeTreeHover, .themeTreeNode, .themeTreeParentNode, .themeTreeSelectedNode 
{
	font-size: 1em;
	padding: 0px 2px 0px 2px;
	color: #2d67b2;
}

.dvList 
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin-left: 0px;
}

.dvList ul 
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	/*list-style-image: url(../../images/icons16/table_sql_view.png);*/
}

.dvList ul li 
{
	padding: 2px 0px 5px 0px;
}

.dvHead, .advHead, 
.dvTitle, .dvMetadataTitle,
.pfHead, .apfHead, 
.pfTitle, .pfFavTitle, .pfMetadataTitle, .qpTitle,
.exHead, .exRelatedHead, .resHead, .newsHead, .editNewsHead, 
.aboutHead, .legalHead, .legalHead, .accessHead, 
.accessKeysHead, .accessFontsHead, 
.siteMapHead, .feedbackHead, .contactHead, .helpHead, .favsHead 
{
	padding-top: 10px;
	background-position: left top;
	background-repeat: no-repeat;
	overflow: visible;
}

.dvHead, .advHead, 
.dvTitle, .dvMetadataTitle,
.pfHead, .apfHead, 
.pfTitle, .pfFavTitle, .pfMetadataTitle, .qpTitle,
.exHead, .exRelatedHead, .resHead
{
	padding-left: 70px;
	min-height: 65px;
	height: auto;
}

.dvTitle 
{
	margin-top: 5px;
}

h4.subTitle 
{
	padding-left: 70px;
	margin-top: -3em;
}

.pfGeoTitleTrue
{
	display: block;
	font-size: 1.0em;
}

.pfGeoTitleFalse
{
	display: none;
}

.pfGeoTitleAreaTitle
{
}

.pfGeoTitleAreaTypeTitle
{
}

.newsHead, .editNewsHead, .aboutHead, .legalHead, .legalHead, .accessHead, .siteMapHead, 
.feedbackHead, .contactHead, .helpHead, .favsHead 
{
	padding-left: 38px;
	height: 32px;
}

.accessKeysHead, .accessFontsHead  
{
	padding-left: 30px;
	height: 24px;
} 

.dvHead 
{
	display: none;
}

.advHead 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Advanced_Data_Views_64.png);
}

.dvTitle 
{
	background-image: url(../../images/ModuleLogos/imgonly/DataViews_64_view.png);
}

.dvMetadataTitle 
{
	background-image: url(../../images/ModuleLogos/imgonly/DataViews_64_information.png);
}

.pfHead 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Profiles_64.png);
}

.apfHead 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Advanced_Profiles_64.png);
}

.pfTitle 
{
	background-image: url(../../images/ModuleLogos/imgonly/Profiles_64_view.png);
}

.pfFavTitle 
{
	background-image: url(../../images/ModuleLogos/imgonly/Profiles_64_star_yellow.png);
}

.pfMetadataTitle 
{
	background-image: url(../../images/ModuleLogos/imgonly/Profiles_64_information.png);
}

.qpTitle 
{
	background-image: url(../../images/ModuleLogos/imgonly/Profiles_64_gearwheel.png);
}

.exHead 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Explorer_64.png);
}

.exRelatedHead 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Explorer_64_links.png);
}

.resHead
{
	background-image: url(../../Images/ModuleLogos/imgonly/Explorer_64.png);
}

.newsHead 
{
	background-image: url(../../images/icons32/news.png);
}

.editNewsHead 
{
	background-image: url(../../images/icons32/message_edit.png);
}

.aboutHead 
{
	background-image: url(../../images/icons32/about.png);
}

.legalHead 
{
	background-image: url(../../images/icons32/contract.png);
}

.contactHead 
{
	background-image: url(../../images/icons32/mail2.png);
}

.feedbackHead 
{
	background-image: url(../../images/icons32/mail_write.png);
}

.siteMapHead 
{
	background-image: url(../../images/icons32/signpost.png);
}

.accessHead 
{
	background-image: url(../../images/icons32/checks.png);
}

.accessKeysHead 
{
	background-image: url(../../images/icons24/keyboard_key.png);
}

.accessFontsHead 
{
	background-image: url(../../images/icons24/font.png);
}

.helpHead 
{
	background-image: url(../../images/icons32/help2.gif);
}

.favsHead 
{
	background-image: url(../../images/icons32/star_yellow_view.png);
}

h4.newsItem, h5.newsItem, h4.userHead, h5.userHead 
{
	padding-left: 18px;
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 18px;
	margin-top: 2px;
	margin-bottom: 2px;
}

h4.newsItem, h5.newsItem 
{
	background-image: url(../../Images/icons16/news.png);
}

h4.userHead, h5.userHead 
{
	background-image: url(../../Images/icons16/user1.png);
}

li.newsItem
{
	list-style-image: url(../../Images/icons16/news.png);
	margin-bottom: 10px;
	padding: 5px 1px 5px 5px;
}

li.greyBack 
{
	width: 90%;
	background-color: #e0e0e0;
}

ul.siteMap, ul.siteMap ul
{
	margin-left: 1em;
	padding-left: 1.5em;
}

ul.siteMap li, ul.siteMap ul li 
{
	margin-left: 0px;
	margin-top: 2px;
	margin-bottom: 2px;
	list-style-type: disc;
}

.addNewsItem, .editNewsItem, .deleteNewsItem 
{
	margin-top: 3px;
	line-height: 18px;
	background-repeat: no-repeat;
	padding-left: 18px;
}

.printButton, .chartButton, .csvButton, .xmlButton, .excelButton, .emailButton, .reportButton, 
.dvAddAllButton, .dvAddSelectedButton, .dvAddLatestButton, .dvRefreshButton, .dvAssociatesButton 
{
	background-repeat: no-repeat;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 18px;
	background-position: right center;
}

.printButton 
{
	background-image: url(../../Images/icons16/printer.gif);
}

.chartButton 
{
	background-image: url(../../Images/icons16/column-chart.gif);
}

.csvButton 
{
	background-image: url(../../Images/icons16/text_align_justified.gif);
}

.xmlButton 
{
	background-image: url(../../Images/icons16/text_code.gif);
}

.excelButton 
{
	background-image: url(../../Images/icons16/excel.gif);
}

.emailButton 
{
	background-image: url(../../Images/icons16/mail2.gif);
}

.reportButton 
{
	background-image: url(../../Images/icons16/presentation_chart_earth.gif);
}

.dvAddAllButton 
{
	background-image: url(../../Images/icons16/add.gif);
}

.dvAddSelectedButton 
{
	background-image: url(../../Images/icons16/calendar_preferences.png);
}

.dvAddLatestButton 
{
	background-image: url(../../Images/icons16/calendar.png);
}

.dvAssociatesButton
{
	background-image: url(../../Images/icons16/paperclip.png);
}

.dvRefreshButton
{
	background-image: url(../../Images/icons16/refresh.gif);
}

.pdfLink, .wordLink, .profileSelfLink , .profileEmailLink
{
	background-repeat: no-repeat;
	line-height: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 18px;
	background-position: right center;
}

.wordLink 
{
	background-image: url(../../Images/icons16/Microsoft_Word_Icon.png);
	padding-left: 10px;
}

.pdfLink
{
	background-image: url(../../Images/icons16/pdf.gif);
	padding-left: 10px;
}

.profileSelfLink 
{
	background-image: url(../../Images/icons16/link.png);
	padding-left: 10px;
}

.profileEmailLink
{
	background-image: url(../../Images/icons16/link.png);
	padding-left: 10px;
}

.addFavouriteLink 
{
	background-image: url(../../Images/icons16/star_yellow_add.png);
	background-repeat: no-repeat;
	padding-right: 18px;
	background-position: right center;
}

a.addFavouriteLink:hover 
{
	background-image: url(../../Images/icons16/shadowed/star_yellow_add.png);
}

.deleteFavouriteLink 
{
	background-image: url(../../Images/icons16/star_yellow_delete.png);
	background-repeat: no-repeat;
	padding-right: 18px;
	background-position: right center;
}

a.deleteFavouriteLink:hover
{
	background-image: url(../../Images/icons16/shadowed/star_yellow_delete.png);
}

span.favModified
{
	color:#777777;
}

span.recentChange
{
	background-image: url(../../Images/icons16/user_edit.png);
	background-repeat:no-repeat;
	background-position: right center;
	padding-right:20px;
	color: #ff0000;
}

.detailsLink 
{
	background-image: url(../../Images/icons16/folder_view.png);
	background-repeat: no-repeat;
	padding-right: 18px;
	background-position: right center;
	margin-right: 10px;
}

.searchBtnLink 
{
	background-image: url(../../Images/icons16/find.png);
	background-repeat: no-repeat;
	padding-right: 18px;
	background-position: right center;
}

.searchBtnLink:hover, input:hover .searchBtnLink 
{
	background-image: url(../../Images/icons16/shadowed/find.png);
}

.addNewsItem 
{
	background-image: url(../../Images/icons16/message_add.png);
}

.editNewsItem 
{
	background-image: url(../../Images/icons16/message_edit.png);
}

.deleteNewsItem 
{
	background-image: url(../../Images/icons16/message_delete.png);
}

.newsItemLink, .newsItemLinkSelected 
{
	float: left;
	border-left: solid 1px #2d67b2;
	border-right: solid 1px #2d67b2;
	border-top: solid 1px #2d67b2;
	margin-right: 10px;
	padding: 2px 15px 5px 15px;
	background-color: #e0e0e0;
}

.newsItemLinkSelected 
{
	background-color: #ffffff;
}

.replaceLink 
{
	background-image: url(../../Images/icons16/replace2.png);
	background-repeat: no-repeat;
	padding-right: 18px;
	background-position: right center;
	font-size: 0.9em;
}

.menuHolder, .textBoxHolder 
{
	position: relative;
	display: block;
}

.menuHolder 
{
	height: 1.7em;
}

.holder 
{
	position: relative;
	margin-top: 5px;
}

.tabMenu 
{
	position: relative;
	top: 0px;
	z-index: 999;
	overflow: hidden;
	margin-left: 1em;
}

.tabViewWrapper 
{
	position: relative;
	top: -2px;
	z-index: 1000;
	padding: 5px 5px 5px 5px;
	width: 97%;
}

ul.AspNet-Menu, div.AspNet-Menu-Horizontal 
{
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 20px;
}

.tabMenuItem, .tabMenuItemSelected, li.AspNet-Menu-Leaf, li.AspNet-Menu-Selected 
{
	position: relative;
	height: 1.3em;
	border-top: solid 1px #2d67b2;	
	border-left: solid 1px #2d67b2;
	border-right: solid 1px #2d67b2;
	padding: 2px 5px 2px 5px;
	margin-right: 0px;
	margin-left: 5px;
}

.tabMenuItem, li.AspNet-Menu-Leaf 
{
	position: relative;
	z-index: 999;
	background-color: #dddddd;
	border-bottom: solid 1px #2d67b2;
	min-height: 17px;
} 

.tabMenuItemSelected, li.AspNet-Menu-Selected 
{
	position: relative;
	height: 1.3em;
	z-index: 1040;
	background-color: #ffffff;
	border-bottom: solid 2px #ffffff;
}

.cb 
{
	clear: both;
}

ul.gtList 
{
	margin: 0px 0px 0px 25px;
	padding: 0px 0px 0px 0px;
	list-style-image: url(../../images/icons16/earth2.png);
}

ul.gtList li 
{
	margin-top: 5px;
	padding: 5px 5px 5px 5px;
}

ul.gtList li ul 
{
	list-style-image: none;
}

.even 
{
	background-color: #eeeeee;
}

img 
{
	border: none;
}

a img 
{
	text-decoration: none;
	vertical-align: top;
}

.mainContent table, .mainContent th, .mainContent td 
{
	border-collapse: collapse;
	z-index: 1050;
}

table.cookiesTable
{
	width:60%;
}

table.dvTable, table.dataTable, table.settingsTable, table.metadataTable, table.dataViewTable, table.cookiesTable
{
	border-top: solid 1px #2d67b2;
	border-left: solid 1px #2d67b2;
}

table.dataTable, table.metadataTable, table.dataViewTable 
{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.dvTable td, .dvTable th, .dataTable td, .dataTable th, .settingsTable td, .settingsTable th, 
.metadataTable td, .metadataTable th, .dataViewTable td, .dataViewTable th, .cookiesTable th, .cookiesTable td
{
	border-bottom: solid 1px #2d67b2;
	border-right: solid 1px #2d67b2;
	vertical-align: top;
}

.dvTable td, .dataTable td, .metadataTable td, .dataViewTable td, .cookiesTable td
{
	padding: 2px 2px 2px 2px;
}

.dvTable thead th, .settingsTable thead th, .metadataTable thead th, .cookiesTable thead th
{
	background-color: #2d67b2;
	background-image: url(../../images/duskyblue-to-white2x150.jpg);
	color: #ffffff;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
}

.dataViewTable thead th, .dataTable thead th
{
	background-color: #2d67b2;
	color: #ffffff;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
}

.dvTable tbody th, .settingsTable tbody th, .metadataTable tbody th, 
.dataViewTable tbody th, .dataTable tbody th
{
	text-align: left;
	font-weight: 100;
}

.dataViewTable caption 
{
	text-align: left;
}

.dataTable thead th a 
{
	color: #ffffff;
}

th.row
{
	background-color: #ffffff;
}

tr.even th.row
{
	background-color: transparent;
}

th.row, th.row a
{
	color: #2d67b2;
	text-align: left;
}

tr.statsRow th, tr.statsRow td 
{
	background-color: #ffffcc;
	font-size: 0.9em;
}

tr.statsRow th
{
	color: #2d67b2;
	text-align: left;
	padding-left: 1.2em;
}

.popupScreenshot 
{
	position: absolute; 
	top: -1%; 
	left: 105%; 
	display: none;
	z-index: 2200;
	background-color: #ffffdd;
	padding: 2px 2px 2px 2px;
	font-size: 0.75em;
	width: 204px;
}

.screenshot {
	width: 200px;
}

.localeDropDown, .skinDropDown
{
	font-family: 'Noto Sans', sans-serif;
	font-size: 0.8em;
}

.skinChoices 
{
	display: inline;
}

.es-ES 
{
	background-image: url(../../Images/icons16/flag_spain.png);
	background-repeat: no-repeat;
	padding-left: 18px;
}

.en-GB 
{
	background-image: url(../../Images/icons16/flag_great_britain.png);
	background-repeat: no-repeat;
	padding-left: 18px;
}

.en-US 
{
	background-image: url(../../Images/icons16/flag_usa.png);
	background-repeat: no-repeat;
	padding-left: 18px;
}

.de-DE 
{
	background-image: url(../../Images/icons16/flag_germany.png);
	background-repeat: no-repeat;
	padding-left: 18px;
}

.fr-FR 
{
	background-image: url(../../Images/icons16/flag_france.png);
	background-repeat: no-repeat;
	padding-left: 18px;
}

.cy-GB 
{
	background-image: url(../../Images/icons16/flag_wales.png);
	background-repeat: no-repeat;
	padding-left: 18px;
}

div.en-GB, div.en-US, div.es-ES, div.de-DE, div.fr-FR, div.cy-GB 
{
	display: inline;
}

a.tabular, a.xml, a.excel, a.csv, a.mail, .metadataLink, .favouriteLink, .dynRepLink, .relatedLink 
{
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 18px;
	padding-top: 1px;
	padding-bottom: 2px;
}

a.tabular 
{
	background-image: url(../../Images/icons16/table_sql.png);
}

a.tabular:hover 
{
	background-image: url(../../Images/icons16/shadowed/table_sql.png);
}

a.xml 
{
	background-image: url(../../Images/icons16/text_code.png);
}

a.xml:hover 
{
	background-image: url(../../Images/icons16/shadowed/text_code.png);
}

a.excel 
{
	background-image: url(../../Images/icons16/excel.gif);
}

a.excel:hover 
{
	background-image: url(../../Images/icons16/shadowed/excel.gif);
}

a.csv 
{
	background-image: url(../../Images/icons16/text_align_justified.png);
}

a.csv:hover 
{
	background-image: url(../../Images/icons16/shadowed/text_align_justified.png);
}

a.mail 
{
	background-image: url(../../Images/icons16/mail2.png);
}

a.mail:hover 
{
	background-image: url(../../Images/icons16/shadowed/mail2.png);
}

div.m2tb 
{
	margin-top: 3px;
	margin-bottom: 5px;
}

.downloadCell div.m2tb 
{
	display: inline;
	margin-top: 3px;
	margin-bottom: 5px;
	margin-right: 10px;
}

.metadataLink
{
	background-image: url(../../Images/icons16/information2.png);
}

a.metadataLink:hover
{
	background-image: url(../../Images/icons16/shadowed/information2.png);
}

.relatedLink
{
	background-image: url(../../Images/icons16/link.png);
}

a.relatedLink:hover
{
	background-image: url(../../Images/icons16/shadowed/link.png);
}

.favouriteLink
{
	background-image: url(../../Images/icons16/star_yellow.png);
}

a.favouriteLink:hover
{
	background-image: url(../../Images/icons16/shadowed/star_yellow.png);
}

.dynRepLink
{
	background-image: url(../../Images/icons16/presentation_chart_earth.png);
}

a.dynRepLink:hover
{
	background-image: url(../../Images/icons16/shadowed/presentation_chart_earth.png);
}

.dvButton, .pfButton, .exButton, .resButton, .advButton, .apfButton, .moduleButton
{
	position: relative;
    background-color: Transparent;
    background-repeat: no-repeat;
    background-position: center top; 
    border: none;
    width: 13em;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    display: inline;
    clear: none;
    margin: 5px 2px 0px 0px;
    text-decoration: none;
    white-space: nowrap;
}

.moduleButton img
{
	display: block;
}

.dvButton, .pfButton, .exButton, .resButton, .advButton, .apfButton 
{
	color: #2d67b2;
    height: 150px;
    padding: 110px 5px 5px 5px;
}

.byDataButton, .byGeoButton 
{
	background-repeat: no-repeat;
    background-position: center top; 
    margin: 5px 10px 0px 0px;
    text-decoration: none;
}

.byButtonHolder, .byDataButton, .byGeoButton
{
    width: 12em;
    padding-top: 34px;
}
        
.dvButton 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Dataviews_120.png); 
}
.pfButton 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Profiles_120.png); 
}
.advButton 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Advanced_Data_Views_120.png); 
}
.apfButton 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Advanced_Profiles_120.png); 
}
.exButton 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Explorer_120.png); 
}
.resButton 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Explorer_120.png); 
}
.byGeoButton 
{
	background-image: url(../../Images/icons32/earth_location.png); 
}
.byDataButton 
{
	background-image: url(../../Images/icons32/data_pin_red.png); 
}
.homeLinkHolder 
{
	text-align:center;
}
.homeLinkHolder button 
{
	display: inline;
	margin: 0px 10px 0px 0px;
	clear: none;
}

.fillVerticalA 
{
	height: 100%;
	min-height: 30em;
}

.menuHolder 
{
	padding-left: 2%;
	margin-bottom: -2px;
}

.textBoxHolder 
{
	height: 15em;
	padding-top: 0px;
}

.absDiv 
{
	position: absolute;
	left: 1%;
	top: 0%;
	width: 98%;
}

.calendar 
{
	font-size: 0.9em;
	margin: 5px 5px 5px 5px;
}

.calendarTitle
{
	
}

.selectedDate 
{
	font-weight: bold;
	background-color: #ffffcc;
}

.newsHolder, .loginHolder, .quickProfileHolder, .latestChangesHolder
{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 10px 10px;
	background-color: #ffffdd;
	text-align: inherit;
	font-size: 0.9em;
}

.newsHolder, .quickProfileHolder, .latestChangesHolder
{
	position: relative;
	/*float: right;*/
	width: 200px;
}

.quickProfileHolder h5 
{
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 18px;
	background-image: url(../../Images/icons16/gear.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.loginHolder 
{
	position: relative;
}

.loginOnlyHolder 
{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.navigationBar .loginHolder 
{
	margin-top: 3em;
	width: 90%;
}

.login 
{
	text-align: left;
}

.login p 
{
	margin-top: 5px;
	margin-bottom: 0px;
}

.login input 
{
	font-size: 0.9em;
}

.login td 
{
	padding: 1px 1px 1px 1px;
}

td.loginLabel, p.loginButton 
{
	text-align: right;
}

#loginStatus 
{
	position: absolute;
	right: 75px;
	bottom: 5px;
	font-size: 0.9em;
	color: #ffffff;
}

#loginStatus a 
{
	color: #ffffff;
}

hr.dotted 
{
	width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: dotted 2px #cccccc;
}

.resList li 
{
	margin-bottom: 10px;
}

/** CSS TreeView stuff */
.AspNet-TreeView-Root 
{
	font-size: 0.9em;
	margin-left: 5px;
	margin-top: 5px;
}

.AspNet-TreeView-Root ul li
{
	margin: 5px 5px 5px 20px;
}

.scriptableTreeNode 
{
	background-image: url(../../Images/TreeLines/bar.gif);
	background-position: left top;
	background-repeat: repeat-y;
}

.scriptableTreeLastNode 
{
	background-image: none;
}

.scriptableTreeNode .themeChildren ul li, .gtList li ul li
{
	background-color: Transparent;
	background-image: url(../../Images/TreeLines/t.gif);
	background-position: left top;
	background-repeat: no-repeat;
	margin-left: 20px;
	padding-left: 20px;
	list-style: none;
}

.gtList li ul li 
{
	background-color: Transparent;
}

.dvList ul li 
{
	list-style: none;
}

.scriptableTreeNode .themeChildren ul li.last, .gtList li ul li.last
{
	background-image: url(../../Images/TreeLines/l.gif);
}

.scriptableTreeNode .themeChildren ul li a, .dvList ul li a,
.scriptableTreeNode .themeChildren ul li a:visited, .dvList ul li a:visited
{
	background-image: url(../../images/icons16/table_sql_view.png);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 2px;
	min-height: 17px;
	line-height: 17px;
}

.scriptableTreeNode .themeChildren ul li a:hover, .dvList ul li a:hover
{
	background-image: url(../../images/icons16/shadowed/table_sql_view.png);
}

.scriptableTreeNode .themeChildren ul li a.pf, .dvList ul li a.pf
{
	background-image: url(../../images/icons16/text_rich_colored.png);
}

.scriptableTreeNode .themeChildren ul li a.pf:hover, .dvList ul li a.pf:hover
{
	background-image: url(../../images/icons16/shadowed/text_rich_colored.png);
}

.scriptableTreeNode .themeChildren ul li a.noExtras 
{
	background-image: none;
	padding-left: 0px;
}

ul li a.dv, ul li a.pf, ul li a.ind
{
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 2px;
}

ul li a.dv
{
	background-image: url(../../images/icons16/table_sql_view.png);
}

ul li a.dv:hover
{
	background-image: url(../../images/icons16/shadowed/table_sql_view.png);
}

ul li a.pf
{
	background-image: url(../../images/icons16/text_rich_colored.png);
}

ul li a.pf:hover
{
	background-image: url(../../images/icons16/shadowed/text_rich_colored.png);
}

ul li a.ind
{
	background-image: url(../../images/icons16/gauge.png);
}

ul li a.ind:hover
{
	background-image: url(../../images/icons16/shadowed/gauge.png);
}

.alignRight, td.ar, th.ar 
{
	text-align: right;
}

.alignLeft, td.al, th.al 
{
	text-align: left;
}

.alignCenter, .alignCentre, td.ac, th.ac 
{
	text-align: center;
}

.floatLeft 
{
	float: left;
}

.floatRight 
{
	float: right;
}

.invisible 
{
	display: none;
}

.offset 
{
	position: absolute; 
	left: -1000px; 
	top: -1000px; 
	z-index: 1000;
}

.offset a:focus  
{
	position: absolute; 
	left: 1010px; 
	top: 1010px;
	padding: 5px 5px 5px 5px;
	background-color: #ffffff;
	color: #2d67b2;
	font-weight: bold;
}

.smallerText
{
	font-size: 0.9em;
}

.formFieldSmaller 
{
	font-size: 0.95em;
}

a.silent 
{
	text-decoration: none;
	cursor: default;
}

.formLabel, .AspNet-CreateUserWizard label, .AspNet-PasswordRecovery label, .AspNet-ChangePassword label  
{
	color: #2d67b2;
	font-weight: 200;
}

.refreshingPanel 
{
	background-color: #ffffff;
	z-index: 5000;
	padding: 80px 35px 35px 35px;
	cursor: wait;
	background-image: url(../../Images/refresh.gif);
	background-repeat: no-repeat;
	background-position: center 10px;
	min-height: 85px;
}

.refreshingPanel img, .refreshingPanel img.floatLeft, .refreshingPanel span
{
	display: block;
	float: none;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.validation 
{
	padding-left: 18px;
	background-image: url(../../Images/icons16/forbidden.png);
	background-position: 1px 1px;
	background-repeat: no-repeat;
	font-size: 0.9em;
	font-weight: bold;
}

.label20, .AspNet-CreateUserWizard label, .AspNet-PasswordRecovery label, 
.AspNet-ChangePassword label 
{
	float: left;
	width: 20%;
	overflow: hidden;
}

.AspNet-CreateUserWizard div, .AspNet-PasswordRecovery div, .AspNet-ChangePassword div 
{
	padding-top: 5px;
}

.AspNet-CreateUserWizard-StepTitlePanel, 
.AspNet-PasswordRecovery-UserName-TitlePanel, 
.AspNet-PasswordRecovery-Question-TitlePanel,
.AspNet-ChangePassword-ChangePasswordTitlePanel 
{
	font-weight: bold;
	margin-bottom: 1em;
	font-size: 1.4em;
	color: #2d67b2;
}

.AspNet-PasswordRecovery-UserName-TitlePanel, 
.AspNet-PasswordRecovery-Question-TitlePanel, 
.AspNet-ChangePassword-ChangePasswordTitlePanel 
{
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding-left: 36px;
	height: 36px;
}

.AspNet-PasswordRecovery-UserName-TitlePanel 
{
	background-image: url(../../Images/icons32/keys_unknown.gif);
}

.AspNet-PasswordRecovery-Question-TitlePanel 
{
	background-image: url(../../Images/icons32/user1_unknown.gif);
}

.AspNet-ChangePassword-ChangePasswordTitlePanel 
{
	background-image: url(../../Images/icons32/keys_new.gif);
}

.AspNet-PasswordRecovery-UserName-InstructionPanel, 
.AspNet-PasswordRecovery-Question-InstructionPanel 
{
	margin-bottom: 0.5em;
}

.AspNet-PasswordRecovery-UserName-SubmitPanel, 
.AspNet-PasswordRecovery-Question-SubmitPanel,
.AspNet-ChangePassword-SubmitPanel,
.AspNet-CreateUserWizard-CreateUserButtonPanel 
{
	padding-left: 20%;
}

ul.silentList
{
	position: relative;
	list-style-type: none;
}

.dvPopup, .resPopup 
{
	position: absolute;
	background-image: url(../../Images/popout_bubble.png);
	background-repeat: no-repeat;
	background-position: left top;
	width: 215px;
	height: 132px;
	font-size: 0.9em;
	overflow: hidden;
	z-index: 6000;
	clear: none;
}

.dvPopup div, .resPopup div
{
	margin: 10px 20px 20px 14px;
	overflow: hidden;
	height: 100px;
}

.dvPopup div p, .resPopup div p 
{
	margin-bottom: 5px;
	margin-top: 0px;
}

.closer 
{
	position: absolute;
	top: 3px;
	right: 20px;
	padding: 0px 0px 0px 0px;
	font-family: Courier New, Monospace;
	font-size: 0.65em;
}

.closer button 
{
	padding: 0px 0px 0px 0px;
}

.forbiddenBig 
{
	background-image: url(../../images/icons32/forbidden.png);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 38px;
	padding-top: 10px;
	height: 38px;
}

.warningBig 
{
	background-image: url(../../images/icons32/warning.png);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 38px;
	padding-top: 10px;
	height: 38px;
}

.unknownBig 
{
	background-image: url(../../images/icons32/unknown.png);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 38px;
	padding-top: 10px;
	height: 38px;
}

.errorBig 
{
	background-image: url(../../images/icons32/error.png);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 38px;
	padding-top: 10px;
	min-height: 38px;
}

.infoBig 
{
	background-image: url(../../images/icons32/about.png);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 38px;
	padding-top: 10px;
	min-height: 38px;
}

.detailText 
{
	font-size: 0.8em;
}

.inline 
{
	display: inline;
}

.warning 
{
	padding-left: 38px;
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(../../Images/icons32/warning.png);
}

div.warningSmall, span.warningSmall
{
	padding-left: 18px;
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url(../../Images/icons16/warning.png);
}

li.warningSmall
{
	list-style-image: url(../../Images/icons16/warning.png);
}

li.infoSmall
{
	list-style-image: url(../../Images/icons16/information2.png);
}

.errorMessage 
{
	width: 95%;
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	background-color: #ffffdd;
	background-image: url(../../Images/icons16/error.png);
	background-repeat: no-repeat;
	background-position: 4px 4px;
	color: #333333;
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.noScriptText
{
	width: 99%;
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	background-color: #ffffdd;
	color: #333333;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.okMessage 
{
	width: 95%;
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	background-color: #ffffee;
	background-image: url(../../Images/icons16/check.png);
	background-repeat: no-repeat;
	background-position: 4px 4px;
	color: #333333;
	padding-top: 5px;
	padding-left: 25px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.validation 
{
	padding-left: 18px;
	background-image: url(../../Images/icons16/forbidden.png);
	background-position: left top;
	background-repeat: no-repeat;
	color: #d50000;
}


.dataViewTableControlPanel, .profileControlPanel, .greyDotPanel, .supplementalControlPanel
{
	padding: 5px 5px 5px 5px;
	background-color: #dfdfdf;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.dataViewTableControlTree 
{
	width: 99%;
	height: auto;
}

.profileControlPanel, .supplementalControlPanel 
{
	padding: 5px 5px 5px 45px;
	background-image: url(../../Images/icons32/about.png);
	background-repeat: no-repeat;
	background-position: 4px 14px;
}

.profileReport .iasProfileSection 
{
	border-bottom: dotted 1px #2d67b2; 
	margin-bottom: 10px;
}

.iasProfileSection table.dataTable 
{
	margin-top: 1em;
	margin-bottom: 1em;
}

.iasProfileSection table.dataTable td, .iasProfileSection table.dataTable th 
{
	border-bottom: none;
	border-left: none;
	border-right: solid 1px #bbbbbb;
}

.iasProfileSection table.dataTable td
{
	border-top: solid 1px #cccccc;
}

.iasProfileSectionTOC 
{
	border-top: dotted 1px #2d67b2; 
	margin-top: 10px;
	padding-top: 5px;
}

.iasProfileTOCEntry a 
{
	font-weight: bold;
	color: #2d67b2;
}

.calculateControlPanel 
{
	background-image: url(../../Images/icons32/calculator.png);
    height: 8.5em;
    margin-top: 0.5em;
}

.calculateControlPanel div 
{
	margin-right: 0.25em;
}

.calculateControlPanel .formLabel, .profileControlPanel .formLabel 
{
	color: #004097;
}

.greyBorderRight
{
	border-right: dotted 1px #bbbbbb;
    height: 5.5em;
}

.calculateControlPanel p 
{
	margin-top: 0.25em;
}

.stdBtn 
{
	width: 8em;
}

.wizardCurrentStepNumber 
{
	font-weight: bold;
	color: #2d67b2;
	cursor: default;
}

.wizardNextStepNumber 
{
	font-style: italic;
	color: #777777;
	cursor: default;
}

.wizardPreviousStepNumber 
{
	text-decoration: none;
	color: #2d67b2;
}

.filler 
{
	width: 100%;
	min-width: 99%;
}

.noBorder 
{
	border: none;
}

.whiteBorder 
{
	border: none;
}

.greyBorder 
{
	border: solid 1px #777777;
	min-height: 20px;
	min-width: 20px;
}

.noFavouritesItem, .noItemsItem 
{
	font-size: 0.9em;
	font-style: italic;
}

.clipDepth12
{
	padding: 0px 0px 0px 0px;
	height: 20px;
	overflow: hidden;
}

.clipDepth12 img 
{
	margin-top: -2px;
}

.versionLabel 
{
	margin: 1px 0px 0px 0px;
	text-align: center;
	font-size: 0.65em;
	color: #2d67b2;
}

.modulesList 
{
	list-style: none;
}

.modulesList li 
{
	background-position: left top; 
	padding-left: 36px; 
	padding-bottom: 0.5em;
}

.modulesList li.dvListItem 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Dataviews_32.jpg); background-repeat: no-repeat; 
}

.modulesList li.advListItem 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Advanced_Data_Views_32.jpg); background-repeat: no-repeat; 
}

.modulesList li.pfListItem 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Profiles_32.jpg); background-repeat: no-repeat; 
}

.modulesList li.apfListItem 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Advanced_Profiles_32.jpg); background-repeat: no-repeat; 
}

.modulesList li.exListItem 
{
	background-image: url(../../Images/ModuleLogos/imgonly/Explorer_32.jpg); background-repeat: no-repeat; 
}

.focusBox, input:focus, select:focus, button:focus 
{
	border: solid 2px #ff7777;
}

.indicatorsGroupPanel 
{
	position: relative;
	height: 20em;
}

.selectedIndicatorsPanel 
{
	position: absolute;
	top: 1px;
	right: 1px; 
	width: 40%;
}

.indicatorsButtonPanel 
{
	position: absolute;
	top: 1px;
	left: 51%; 
	width: 5%;
}

.availableIndicatorsPanel 
{
	position: absolute;
	top: 1px;
	left: 1px; 
	width: 50%;
}

.snugTop 
{
	margin-top: 0px;
	padding-top: 0px;
}

.snugBtm 
{
	margin-bottom: 1px;
	padding-bottom: 0px;
}

.min200 
{
	min-width: 200px;
}

.wordCloud 
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	border: dotted 1px #2d67b2;
	padding: 5px 5px 5px 5px;
}

.wordCloud a 
{
	color: #2d67b2;
	text-decoration: none;
	line-height: 18px;
	min-height: 18px;
}

.cloudWordLink, .cloudWordLinkSelected 
{
	display: inline;
	padding: 3px 1px 3px 1px;
	white-space: nowrap;
}

.cloudWordLinkSelected 
{
	border: dotted 1px #cccccc;
	background-color: #ffffcc;
}

.removeCloudWordLink, .removeCloudWordLinkHidden 
{
	display: inline;
	visibility: visible;
	background-image: url(../../Images/icons16/document_delete.png);
	background-position: left center;
	background-repeat: no-repeat;
	margin-left: -1em;
	width: 20px;
	padding: 0px 0px 0px 0px;
	white-space: nowrap;
}

.removeCloudWordLink a img, .removeCloudWordLinkHidden a img 
{
	vertical-align: text-bottom;
}

.removeCloudWordLinkHidden 
{
	visibility: hidden;
}

.plainBorder 
{
	border: solid 1px #2d67b2;
}

.ajaxWaiting 
{
	background-color: #ffffcc;
	background-image: url(../../images/icons16/shadowed/stopwatch.png);
	background-repeat: no-repeat;
	padding-left: 18px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: solid 1px #888888;
	color: #666666;
	font-size: 10px;
}

.dvMetadataLink, .dvRemoveLink, .dvSortLink 
{
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-bottom: 1px;
}

.dvMetadataLink 
{
	background-image: url(../../Images/icons16/information2.gif);
	width: 16px;
	overflow: hidden;
}

.dvRemoveLink 
{
	background-image: url(../../Images/icons16/navigate_cross.gif);
}

.dvSortLink 
{
	background-image: url(../../Images/icons16/column_up_down.gif);
}

.disabledLink, .disabledLink span 
{
	cursor: default;
	color: #999999;
	text-decoration: none;
}

.fontSizePanel 
{
	position: absolute;
	top: 72px;
	right: 5px;
	background-color: transparent;
	border: none;
	padding-top: 4px;
	padding-bottom: 4px;
	z-index: 2500;
	color: #ffffff;
	overflow: visible;
	height: 1.6em;
}
.fontSizePanel div 
{
	display: inline;
	margin-right: 1px;
	border-left: solid 2px #bbbbbb;
	border-top: solid 2px #bbbbbb;
	border-right: solid 2px #333333;
	border-bottom: solid 2px #333333;
	background-color: #dddddd;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0.25em;
	padding-right: 0.25em;
	vertical-align: top;
}
.fontSizePanel div a 
{
	color: #333333;
	text-decoration: none;
	width: 100%;
	height: 100%;
}
.fontSizePanel div:hover 
{
	border-left: solid 2px #dddddd;
	border-top: solid 2px #dddddd;
	border-right: solid 2px #666666;
	border-bottom: solid 2px #666666;
	background-color: #eeeeee;
}

.fontSizePanel .normalSize 
{
	font-size: 80%;
}
.fontSizePanel .biggerSize 
{
	font-size: 110%;
}
.fontSizePanel .biggestSize 
{
	font-size: 140%;
}

a:focus 
{
	background-color: #ffffcc;
}

.footerBar a:focus, .breadcrumb a:focus 
{
	color: #2d67b2;
}

.cellNote 
{
	position: relative;
	float: right;
	top: 0px;
	right: 0px;
	width: 12px;
	height: 12px;
	overflow: hidden;
	margin-left: 1px;
	background-image: url(../../Images/icons12/message.png);
	cursor: help;
}

.cellNote a 
{
	cursor: help;
	display:block;
}	

.cellNotePopup 
{
	position: absolute;
	width: 100px;
	background-color: #ffffcc;
	border: solid 1px #cccccc;
	padding: 2px 2px 2px 2px;
}

.cellNoteContent 
{
	font-size: 0.9em;
}

.nb16 
{
	border: none; 
	width: 16px; 
	height: 16px; 
	vertical-align: middle;
}

.noPad 
{
	padding: 0px 0px 0px 0px;
}

.padLR5
{
	padding: 0px 5px 0px 5px;
}

.pad5
{
	padding: 5px 5px 5px 5px;
}

.noMgn 
{
	margin: 0px 0px 0px 0px;
}

.off10 
{
	margin-left: 10px;
}

.off20 
{
	margin-left: 20px;
}

.mr10 
{
	margin-right: 10px;
}

.mr20 
{
	margin-right: 20px;
}

.bolder 
{
	font-weight: bolder;
}

.w200px 
{
	width: 200px;
}

.w300px 
{
	width: 300px;
}

.w400px 
{
	width: 400px;
}

li.advLink, li.apLink 
{
	min-height: 18px;
	margin-left: 5px;
	margin-bottom: 2px;
}

li.advLink 
{
	list-style-image: url(../../Images/ModuleLogos/imgonly/Advanced_Data_Views_16.png);
}

li.apLink 
{
	list-style-image: url(../../Images/ModuleLogos/imgonly/Advanced_Profiles_16.png);
}

.btm10 
{
	margin-bottom: 10px;
}

.i1px 
{
	width: 1px;
	height: 1px;
	border: none;
}

.i16px 
{
	border: none; 
	width: 16px; 
	height: 16px; 
	vertical-align: middle;
}

.textSizeHolder 
{
	display: inline !important; 
	vertical-align: top !important; 
	padding-bottom: 1px !important; 
	background-color: Transparent !important; 
	border: none !important;
}

.swfHolderStart 
{
	display: none; 
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px; 
	height: 370px; 
	overflow: hidden;
}

.canvasMapHolder 
{
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.canvasMapHolder .mapHolder 
{
	position: absolute;
}

.canvasMap 
{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px; 
	border: solid 1px #2D67B2;
	overflow: hidden;
	/*min-height: 6em;*/
	width: 99%;
	height: 99%;
}

.aboff10 
{
	position: absolute;
	top: 10px;
	left: 10px;
}

.detailsList 
{
	background-color: #ffffcc;
	border: dotted 1px #cccccc;
	padding: 5px 5px 5px 5px;
	margin: 5px 0px 5px 0px;
}

.linkedData .banner 
{
	color: #595959;
	padding: 5px 5px 5px 5px;
	border-bottom: solid 1px #333333;
}

.linkedData .ldt 
{
	background-image: url(../../Images/icons32/rdf-grey32.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 36px;
    min-height: 36px;
}

.linkedData table.linkedData 
{
	width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.linkedData table.linkedData 
{
	border-left: solid 1px #cccccc;
    border-top: solid 1px #cccccc;
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
}

.linkedData table.linkedData th, .linkedData table.linkedData td
{
	border-right: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    text-align: left;
    vertical-align: top;
    padding: 2px 2px 2px 2px;
}

.linkedData table.linkedData tr.first th, .linkedData table.linkedData tr.first td
{
	border-top: solid 1px #cccccc;
}

.linkedData table.linkedData th.rowHead 
{
	width: 20%;
	overflow: hidden;
}

.linkedData .altFmt, .linkedData .pageLinks 
{
	font-size: 0.9em;
}

.linkedData .altFmt, .linkedData .pageLinks 
{
	text-align: center;
}

.linkedData td .altFmt 
{
	text-align: left;
}

.linkedData .pageLinks a, .linkedData .pageLinks span
{
	margin-right: 10px;
	background-repeat: no-repeat;
	line-height: 18px;
}

.linkedData .pageLinks .disPrevPageLink, .linkedData .pageLinks .disNextPageLink 
{
	color: #cccccc;
	background-repeat: no-repeat;
	line-height: 18px;
	text-decoration: underline;
	padding-top: 1px;
	padding-bottom: 1px;
	cursor: wait;
}

.linkedData .firstPageLink 
{
	padding-left: 18px;
	background-image: url(../../Images/icons16/navigate_beginning.png);
	background-position: left top;
}

.linkedData .prevPageLink 
{
	padding-left: 18px;
	background-image: url(../../Images/icons16/navigate_left.png);
	background-position: left top;
}

.linkedData .nextPageLink 
{
	padding-right: 18px;
	background-image: url(../../Images/icons16/navigate_right.png);
	background-position: right top;
}

.linkedData .lastPageLink 
{
	padding-right: 18px;
	background-image: url(../../Images/icons16/navigate_end.png);
	background-position: right top;
}

.linkedData .metaKey 
{
	font-style: italic;
}

.linkedData .headerPrefix 
{
	font-weight: normal;
	font-size: 0.8em;
	font-variant: small-caps;	
}

.ld-format-link, .ld-InteractiveResource-link, .ld-csv-link, .ld-vnd-ms-excel-link, .ld-DataViewTable
{
	padding-right: 16px;
	background-position: right center;
	background-repeat: no-repeat;
}

.ld-format-link 
{
	background-image: url(../../Images/icons12/text_code.png);
}

.ld-vnd-ms-excel-link 
{
	background-image: url(../../Images/icons12/excel.png);
}

.ld-DataViewTable 
{
	background-image: url(../../Images/icons12/table_sql.png);
}

.ld-part-formats, .ld-part-formats p.altFmt
{
	display: inline;
}

.ld-part-formats
{
	margin-left: 1em;
}

#mainContent 
{
	width: 1px;
	height: 1px;
	clear: none;
}

.dragHandle 
{
	display: none;
}

.advBox1 
{
	position: relative;
	width: 74%; 
	height: 14em; 
	margin-right: 1%; 
	overflow: scroll;
	background-color: #ffffff;
}

.rel 
{
	position: relative;
}

.mt05 
{
	margin-top: 0.5em;
}

.advBox1 select 
{
	background-color: #ffffff;
}

.advMeta1 
{
	text-align: right; 
	display: none; 
	padding-right: 1em;
}

#scriptedOrderButtons 
{
	position: absolute;
	top: 14em;
	right: 5%;
	width: 80%;
	text-align: right;
}

.advGeoBox1 
{
	width: 74%; 
	height: 10em; 
	overflow: scroll;
	position: relative;
	background-color: #ffffff;
}

.advGeoBox2 
{
	width: 74%; 
	height: 6em;
	margin-right: 1%; 
	overflow: scroll;
	background-color: #ffffff;
}

.advGeoBox3 
{
	width: 74%; 
	height: 10em; 
	overflow: scroll;
	background-color: #ffffff;
}

.advScriptedSelect 
{
	width: 100%; 
	display: none;
}

.w99 
{
	width: 99%;
}

td.mrgr, th.mrgr, .dataViewTable thead th.mrgr 
{
	border-right: none;
	padding-right: 0px;
}

td.mrgl, th.mrgl 
{
	border-left: none;
}

td.note, th.note, .dataViewTable thead th.note, .dataViewTable thead th.note div
{
	width: 14px;
	padding-left: 0px;
}

.dataViewTable thead th.note div
{
	padding-right:2px;
}

td.mnote, th.mnote, .dataViewTable thead th.mnote 
{
	padding: 0px 0px 0px 0px;
	width: 1px;
	max-width: 1px;
}

th.mnote .indicatorHeadName
{
	padding:0px;
}

.profileRefreshGeoPanel 
{
	display: none; 
	position: absolute; 
	height: auto; 
	width: 98%; 
	top: 10px; 
	left: 1%;
}

.profileRefreshPanel 
{
	display: none; 
	position: absolute; 
	left: 1%; 
	top: 10px; 
	min-height: 15em; 
	width: 98%; 
	height: 15em;
}

.indicators li 
{
	margin-bottom: 1em;
}

.dvList ul, .dvList ul li 
{
	margin-bottom: 0px;
	margin-top: 1px;
}

.overLabel 
{
	font-style: italic;
}

.expandButton
{
	float:right;
	width:16px;
	height:16px;
	margin-left:5px;
	margin-right:5px;
	border: solid 1px #bbb;
}

.expandButton:hover
{
	background-color: #fff;
	cursor:pointer;
}

.expandButton.expand
{
	background-image:url('../../Images/icons16/navigate_down.gif');
}

.expandButton.collapse
{
	background-image:url('../../Images/icons16/navigate_up.gif');
}

.expandHint
{
	float:right;
}

.themebar
{
	width:25%;
	max-width:25%;
	min-width:25%;
}

.expandButton.addItem
{
	background-image:url('../../Images/icons16/plus.png');
}

.expandButton.removeItem
{
	background-image:url('../../Images/icons16/remove.png');
}

.fontSizePanel .normalSize, .fontSizePanel .biggerSize, .fontSizePanel .biggestSize
{
	vertical-align:middle;
}

.indicators li 
{
	margin-bottom: 1em;
}

.dvList ul, .dvList ul li 
{
	margin-bottom: 0px;
	margin-top: 1px;
}

.overLabel 
{
	font-style: italic;
}

.geoOver 
{
	background-color: #ffffcc;
}

li.typeDataView
{
	list-style-image:url(../../Images/ModuleLogos/imgonly/DataViews_16.jpg);
}

li.typeIndMeta
{
	list-style-image:url(../../Images/icons16/gauge.png);
}

li.typeProfile
{
	list-style-image:url(../../Images/icons16/text_rich_colored.png);
}

li.typeIAResource
{
	list-style-image:url(../../Images/icons16/book_blue.png);
}

.changesHead
{
	background-image:url(../../Images/icons16/user_edit.png);
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:18px;
	margin-top:0px;
}

.dataViewTableControlPanel .buttonHolder, .dataViewTableControlPanel .buttonHolder input, .dataViewTableControlPanel .buttonHolder button,
.dataViewTableControlPanel .buttonHolder select, .dataViewTableControlPanel .buttonHolder label
{
	vertical-align: middle;
}

.url404 
{
	font-weight: bold;
	color: #595959;
	font-size: 0.9em;
}

@media screen 
{
	.horizScroll 
	{
		overflow: auto; 
		width: 99%;
	}
	
	.printOnly 
	{
		display: none;
	}
	
	.scrollTableVerticalScroll 
	{
		display: block;
		width: 99%;
		height: 15em;
		overflow: scroll;
	}
	
	.dataViewTable thead th.indicatorHead, .dataTable thead th.indicatorHead,
	.dataViewTable thead th.geoHead, .dataTable thead th.geoHead
	{
		padding: 0px 0px 0px 0px;
		vertical-align: bottom;
		overflow: hidden;
	}
	
	.indicatorHeadName, .geoHeadName 
	{
		padding: 2px 2px 7px 2px;
	}
	
	.columnControls 
	{
		margin: 0px 0px 0px 0px;
		height: 19px;
		border-top: solid 1px #808080;
		padding-top: 3px;
		background-color: #eeeeee;
		color: #084239;
		overflow: hidden;
	}
	
	.columnControls a 
	{
		width: 16px;
	}
	
	th.row 
	{
		overflow: hidden;
	}
}

@media print 
{
	.noPrint, .dragHandle 
	{
		display: none;
	}
	
	.printOnly 
	{
		display: block;
	}
	
	.navigationBar 
	{
		display: none;
	}
	
	.mainContent 
	{
		width: 99%;
	}
	
	#pageContent, .breadcrumb 
	{
		border-top: solid 1px #2d67b2;
	}
	
	.iasProfileSectionTOC 
	{
		display: none;
	}
	
	table, 
	table.dvTable, table.dataTable, .cookiesTable
	{
		border-top: solid 1px #cccccc;
		border-left: solid 1px #cccccc;
		border-bottom: none;
		border-right: none;
		border-collapse: collapse;
	}
	
	td, th, 
	.dvTable td, .dvTable th, .dataTable td, .dataTable th, .settingsTable td, .settingsTable th, .metadataTable td, .metadataTable th, .dataViewTable td, .dataViewTable th, .cookiesTable th, .cookiesTable td
	{
		border-top: none;
		border-left: none;
		border-bottom: solid 1px #cccccc;
		border-right: solid 1px #cccccc;
	}
	
	caption 
	{
		display: none;
	}
	
	.footerBar 
	{
		height: 1.2em;
	}
	
	.scrollTableVerticalScroll 
	{
		width: auto;
		height: auto;
	}
	
	.columnControls 
	{
		display: none;
	}
}

/* coventry.gov.uk styles */

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-family: 'courier new',monospace; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  font-family: 'Noto Sans', sans-serif; }